@import "tailwindcss";

:root {
--background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* Add this to your globals.css */
html {
  height: auto !important;
  overflow-x: hidden;
  overflow-y: visible !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: visible !important;
}
